<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing task comment</h1>

  <%= render "form", task_comment: @task_comment %>

  <%= link_to "Show this task comment", @task_comment, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to task comments", task_comments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
