<p style="color: green"><%= notice %></p>

<h1>Areas</h1>

<div id="areas">
  <% @areas.each do |area| %>
    <%= render area %>
    <p>
      <%= link_to "Show this area", area %>
    </p>
  <% end %>
</div>

<%= link_to "New area", new_area_path %>
