<div id="<%= dom_id goal_comment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= goal_comment.comment %>
  </p>

  <%= hidden_field_tag :goal_id, params[:goal_id] %>

  <% if action_name != "show" %>
    <%= link_to "Edit this goal comment", edit_goal_comment_path(goal_comment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
