<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New project comment</h1>

  <%= render "form", project_comment: @project_comment %>

  <%= link_to "Back to project", project_path(params[:project_id]), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
